

        <footer class="page-footer" class="navigation">
            <div class="container">
              <div class="row">
                <div class="col 5 offset-5 s5">
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container center">
                <h5>
                add info footer HERE.<br>
              © 2021 Copyright Injectable Group
              </h5>
              </div>
            </div>
          </footer>