*{
    padding: 0;
    margin: 0;
    background: rgb(187, 187, 187);
}

.teste{
    display: inline-block;
    text-decoration: none;
    text-align: center;
}


.titre{
    text-align: center;
    color: rgb(12, 0, 117);
}

