*{
    padding: 0;
    margin: 0 auto;
    box-sizing: 0;
}

.teste{
    display: inline-block;
}


.titre{
    // text-align: center;
    color: rgb(12, 0, 117);
    background: rgb(187, 187, 187);
}


.nav{
    background: rgb(187, 187, 187);
}

.navbar{
    display: inline-block;
    background: rgb(92, 82, 82);
    padding: 5px;
}

.navbar:hover{
    background: #000;
}

.lien{
    color: white;
    text-decoration: none;  
}